BASE_URL=https://useinsider.com/
CAREERS_QA_URL=https://useinsider.com/careers/quality-assurance/
PETSTORE_BASE_URL=https://petstore.swagger.io/v2
N11_BASE_URL=https://www.n11.com
HEADLESS=true
DEFAULT_BROWSER=chrome
SCREENSHOT_DIR=test-results/screenshots
VERIFY_SSL=false
